.movies-grid{
    /* display: flex;
    width: fit-content;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px;
    gap: 15px; */
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    padding-bottom: 40px;
}
.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-form{
    margin: 30px;
}
.search-bar{
    color: white;
    background-color: #3d383c;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 5px 15px 5px 15px;
    width: 500px;
    height: 30px;
}
.search-bar:focus{
    outline: none;
}
.search-bttn{
    color: white;
    border: none;
    font-size: 16px;
    background-color:#e60914;
    margin: 10px;
    width: 120px;
    border-radius: 5px;
    padding: 9.5px;
}
.search-bttn:hover{
    background-color:#d75057;
    cursor: pointer;
}
